/* Global */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica, sans-serif;
  /* The closest font I could find to Amatic SC 
  that I felt has a similar look and feel, 
  but is better for accessibility was Quicksand */
--secondary-font: "Quicksand", sans-serif;
}

* {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

/* Header */

header {
  display: flex;
  align-items: flex-end;
  margin: 42px;
  margin-bottom: 60px;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 3em;
  margin-bottom: 0;
}

header img {
  width: 100px;
}

/* Body */

img {
  width: 100%;
}

#divider {
  border: 1px solid #999;
  margin: 0;
}

/* Search */

.search-container {
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  border: 2px solid #999;
  border-radius: 7px;
}

.search-container img {
  width: 32px;
  height: 28px;
  margin: 0;
  padding: 0;
}

.search-container input {
  flex: 1;
  font-size: 1.2em;
  padding: 4px 8px;
  border: none;
  outline: none;
  background: transparent;
}

.search-container button {
  padding: 2px 4px;
  border: none;
  border-left: 2px solid #999;
  background: transparent;
  cursor: pointer;
}

.recipe {
  display: flex;
  flex-direction: column;
  margin: 22px;
  padding: 22px;
  border: 2px solid #999;
  border-radius: 7px;
}

.tag {
  display: inline-block;
  border: 2px solid #999;
  padding: 5px;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 590;
}

.recipe-content h2 {
  font-size: x-large;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin-top: 15px;
}

.recipe-description {
  display: none;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

footer img {
  width: 32px;
  height: 32px;
  margin: 0 2px;
}

#flaticon-attribution-link {
  font-size: 0.6em;
  color: var(--primary-color);
  text-decoration: none;
}

/* Media Queries */

@media (min-width: 600px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #flaticon-attribution-link {
    order: 1;
  }

  footer .social {
    order: 2;
  }

  .recipe {
    flex-direction: row;
  }

  .recipe img {
    width: 40%;
  }

  .recipe-description {
    display: flex;
  }

  .recipe-content {
    margin-left: 18px;
  }
}